/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1299px) {
	h1.logo {
	    margin-right: 35px;
	}
	.advantages_box_item{
		padding: 34px 124px 33px;
	}
	nav{
		padding-top: 10px;
		float: none;
        clear: both;
        text-align: center;
	}
	.header_menu_list{
		margin-left: 0;
	}
		.header_menu_list li{
			display: inline-block;
			float: none;	
		}
			.header_menu_list li a{
				padding: 5px 35px;
			}
	.footer_social_box {
	    padding-left: 0;
	}
	/*============================catalog_2 start============================*/
	.figure_block{
		margin: -5px -5px 0 -5px;	
		padding-bottom: 25px;
	}
		.catalog_2_figure{
			margin: 5px;
		}
	.catalog_slides_carousel ul li{
		width: 120px !important;
	}
	.card_wallpaper .button_on_the_flexslider_item{
		bottom: 152px;
	}
	.card_wallpaper .catalog_slides_carousel ul li{
		width: 138px !important;
	}
	.catalog_slides_carousel .slides li div img{
		width: 100%;
		height: auto;
	}
	.button_on_the_flexslider_item{
		bottom: 144px;
	}
	/*=========================royalslider=====================*/
	img.rsImg{
		width: 100% !important;
		height: auto !important;
	}
	.rsDefault, .rsDefault .rsOverflow {
	    height: 604px !important;
	}
	.rsDefault .rsThumb{
		width: 120px;
		height: auto;
	}
	.rsDefault .rsThumb img{
		width: 100%;
		height: auto;
	}
	/*=========================royalslider=====================*/
	/*============================catalog_2 end============================*/
	/*============================podbor_oboev2 start============================*/
	.selection_filter_title,
	.selection_filter_color_list{
		display: block;
		float: none;
	}
	.selection_filter_color_list .selection_filter_color_list_item:first-child{
		margin-left: 10px;
	}
	.selection_filter_color_list {
	    margin: 10px -10px;
	}
	.many_filter_box {
	    margin: 0 -8px 40px -8px;
	}
	.many_filter_box_item{
		margin: 0 8px;
	}
	[data-width="many_filter_box_1"] .checkbox_main_box,
	[data-width="many_filter_box_2"] .checkbox_main_box{
		padding-left: 9px;
	}
	/*============================podbor_oboev2 end============================*/
	/*andrew_responsive*/
	.sale_content{
		margin: 0 -7px 0;
		text-align: center;
	}	
	.sale_content_block{
		margin: 0 7px 30px;
		text-align: left;
	}

	.podbor_ob_left_figure{
		margin: 0 -7px 0;
	}

	.cards_frescoes_right_box{
		width: 470px;
	}
	.cards_frescoes_figure_wrapper{
		margin: 0 -15px;
	}
	/*end*/
	/*liz_responsive*/
	.wallpapers_main_page_block1{
		width: 100%;
	}
	.wallpapers_main_page_block1_img{
		margin-left: 0px; 
	}
	.wallpapers_main_page_block1_img img{
		padding-left: 0px; 
	}
	.wallpapers_main_page_block2 {
	    margin: 0 -7px 45px !important;
	    text-align: center;
	}
	.wallpapers_figure{
		margin: 7px 7px 7px;
		text-align: left;
	}
	/*end*/
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

	.contacts{
		width: 30%;
	}
	.delivery_list_l{
		width: 19.9%;
	}
	.delivery_list_l .menu_item{
		width: 100%;
	}
	.delivery_contacts{
		width: 76%;
		margin-top: 20px;
	}
	.map{
		width: 70%;
	}
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.news_main_box_item{
		width: 47.7%;
	}
}
@media only screen and (max-width: 1233px) {
	.advantages_four_box_item{
		margin: 10px 15px;
	}
}
@media only screen and (max-width: 1217px) {
	.advantages_four_box_item{
		margin: 10px 17px;
	}
	.advantages_four_box {
	    margin: -10px -17px;
	}
}

@media only screen and (max-width: 1217px) {
	.podbor_ob_left_figure .sale_content_block{width: 209px;}
}
@media only screen and (max-width: 1202px){
	.wallpapers_figure{width: 150px;}
}

@media only screen and (max-width: 1199px){
	.header_menu_list li a {
	    padding: 5px 30px;
	}
	.advantages_box_item {
	    padding: 34px 16px 33px;
	}
	/*============================catalog_2 start============================*/
	.catalog_2_figure{
		width: 134px;
	}
		.catalog_2_figure_item{
			padding: 8px;		
		}
			.catalog_2_figure_item .sale_product_name{
				line-height: 18px;
				font-size: 12px;
			}
			.catalog_2_figure_item .sale_product_cost{
				line-height: 18px;
				font-size: 14px;
			}
	.wrapper_slider{
		padding-left: 0;
	}
		.catalog_slides_carousel ul li{
			width: 98px !important;
		}
		.card_wallpaper .catalog_slides_carousel ul li{
			width: 104px !important;
		}
		.card_wallpaper .button_on_the_flexslider_item {
		    bottom: 118px;
		}
	.button_on_the_flexslider_item {
	    bottom: 122px;
	    left: 4px;
	}
	/*=========================royalslider=====================*/
	.rsDefault, .rsDefault .rsOverflow {
	    height: 502px !important;
	}
	.rsDefault .rsThumb{
		width: 98px;
		height: auto;
	}
	/*=========================royalslider=====================*/
	/*============================catalog_2 end============================*/
	/*===========================card_wallpaper start===========================*/
	.wallpaper_img_box{
		margin-right: 0;
	}
	.wallpaper_catalog{
		padding-right: 0;
	}
	.wallpaper_short_info_box{
		width: 470px;
	}
	.card_wallpaper2_it1{
        width: 50%;
    }
    .card_wallpaper2_it1 .wallpaper_short_info_box,
    .card_wallpaper2_it1 .cost_wallpaper{
        width: auto;
    }
    .card_wallpaper2_it1 .cost_wallpaper_button{
    	float: left;
    }
    .card_wallpaper2 .wallpaper_catalog_link_box{
    	width: 173px;
    }
	/*===========================card_wallpaper end===========================*/
	/*===========================checkout start===========================*/
	.checkout_content_box .checkout_content_box_item_left{
		padding-right: 0;
	}
	.checkout_content_box .checkout_content_box_item_right{
		margin-left: 0;
	}
	.checkout_content_box .delivery_icon_box{
		margin: auto;
	}
	.checkout_content_box .after_table_box{
		padding-right: 40px;
	}
	.checkout_content_box .w452 {
	    width: 585px;
	}
	.checkout_content_box .lis_mod{
		padding-left: 20px;
	}
	.checkout_content_box .img_and_info_item{
		width: 140px;
	}
	.delivery_icon_box_text{
		font-size: 12px;
	}
	/*===========================checkout end===========================*/
	/*===========================podbor_oboev2 start===========================*/
	.many_filter_box {
	    margin: -10px -15px 30px -15px;
	    text-align: center;
	}
	.many_filter_box_item {
	    margin: 10px 15px;
	    float: none;
	    display: inline-block;
	}
	[data-width="many_filter_box_1"],
	[data-width="many_filter_box_2"],
	[data-width="many_filter_box_3"],
	[data-width="many_filter_box_4"],
	[data-width="many_filter_box_5"],
	[data-width="many_filter_box_6"]{
		width: 203px;
	}
	[data-width="many_filter_box_1"] .checkbox_main_box ,
	[data-width="many_filter_box_2"] .checkbox_main_box ,
	[data-width="many_filter_box_3"] .checkbox_main_box ,
	[data-width="many_filter_box_4"] .checkbox_main_box ,
	[data-width="many_filter_box_5"] .checkbox_main_box ,
	[data-width="many_filter_box_6"] .checkbox_main_box {
	    width: 100%;
	}
	.many_filter_btn_box {text-align: center;}
	.many_filter_btn_box .after_table_button{
		float: none;	
	}
	/*===========================podbor_oboev2 end===========================*/
	/*andrew_responsive*/
	.sale_content{margin: 0 -15px;}
	.sale_content_block{margin: 0 15px 30px;width: 197px;}

	.content_search_box,
	.podbor_ob_left_wrapper .error_search_box{margin: 0 auto 30px; width: 100%;}

	.cards_frescoes_img_box img{width: 100%; height: auto;}

	.cards_frescoes_right_box_img{margin-top: 4px;}

	.podbor_ob_left_wrapper{width: 78%;}
	.podbor_ob_left_figure .sale_content_block{width: 185px;margin: 0 10px 20px}
	.podbor_ob_left_figure{margin: 0 -7px 0; text-align: center;}

	.cards_frescoes_right_box{width: 430px; margin-bottom: 30px;}
	.cards_frescoes_right_box_wrapper{padding: 18px 25px 0 18px;}
	.cards_frescoes_right_box .jspContainer{width: 428px !important;}	
	.cards_frescoes_right_box .jspContainer .jspPane{width: 415px !important;}
	/*end*/
	/*liz_responsive*/
	.wallpapers_figure{
		margin: 7px 7px 7px;width: 168px;display: inline-block;
	}
	.wallpapers_catalog_a{width: 100%;}
	.wallpapers_catalog_a img{
		width: 100%;
		height: auto;
	}
	.wallpapers_main_page_block2{
		margin: 0 -7px 45px;
	}
	.wallpapers_main_page{
		margin-left: 0;
	}
	.accordion_box{
		margin-right: 0;
	}
	/*end*/
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

	.delivery_list_l{
		width: 24.9%;
	}
	.delivery_contacts{
		width: 70%;
	}
	.contacts{
		width: 30%;
	}
	.map{
		width: 70%;
	}
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.news_main_box_item{
		width: 46.7%;
	}
}
@media only screen and (max-width: 1180px) {
	.news_box2 .mxh534{
		max-height: inherit;
	}
}
@media only screen and (max-width: 1160px) {
	.news_main_box_item {
	    width: 47.48%;
	}
}
@media only screen and (max-width: 1090px) {
	.news_main_box_item {
	    width: 47.35%;
	}
	.podbor_ob_left_wrapper{width: 77%;}
}
@media only screen and (max-width: 1090px) {
	.wallpapers_figure{
		margin: 7px 7px 7px;width: 158px;
	}	
}

@media only screen and (max-width: 1051px) {
	.news_main_box_item {
	    width: 47%;
	}	
}
@media only screen and (max-width: 1028px) {
	.podbor_ob_left_wrapper{width: 76%;}
	.podbor_ob_left_figure .sale_content_block{width: 180px;margin: 0 7px 20px}

	.wallpapers_figure{
		margin: 7px 7px 7px;width: 178px;display: inline-block;
	}
}

@media only screen and (max-width: 1100px) {
	.news_main_box_item .wallpaper_block1_h2{
		font-size: 20px;
		line-height: normal;
		padding-bottom: 5px;
	}
	.news_main_box_item {
        width: 46.48%;
	}
}
@media only screen and (max-width: 998px) {
	.card_wallpaper2_it1 .cost_wallpaper_button{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 991px) {
	.header_menu_list li a {
	    padding: 5px 15px;
	}
	.advantages_four_box {
	    margin: -10px -5px;
	    text-align: center;
	}
		.advantages_four_box_item{
			width: 145px;
			margin: 10px 5px;
			float: none;
			display: inline-block;
		}
	.main_img_content_item{
		height: 270px;
	}
		.indent_box{
			margin-left: 80px;
			padding-top: 25px;
			width: 265px;
		}
		.main_img_content_item.main_img2 .indent_box{
			margin-left: 80px;
			padding-top: 15px;
			width: 265px;	
		}
			.main_img_content_item2_box{
				padding: 20px 0 15px;
			}

			.text_on_slider, .main_img_content_item.main_img2 .text_on_slider{
				font-size: 20px;
				line-height: 25px;	
				margin-bottom: 20px;
			}
		.img_on_slider, .main_img_content_item.main_img2 .img_on_slider{
			margin-bottom: 20px;
		}
			.img_on_slider img{
				width: 140px !important;
				height: auto;
			}

			.main_img_content_item.main_img2 .img_on_slider img{
				width: 190px !important;
				height: auto;	
			}
	.footer_soc_list {
	    margin: 17px 0px 0;
	}
		.footer_soc_list_item {
	    	margin: 0 3px;
		}
	/*============================catalog_2 start============================*/
	.figure_block{
		margin: -8px -8px 0 -8px;
		padding-bottom: 22px;
	}
		.catalog_2_figure {
		    width: 160px;
		    margin: 8px;
		    text-align: left;
		}
	.wrapper_slider{
		padding-bottom: 25px;
	}
	.sale_content_box hr.hr{
		margin-bottom: 25px;
	}
	.catalog_slides_carousel ul li {
	    width: 2.1% !important;
	}
	.button_on_the_flexslider{
		margin: 30px 0 0;
	}
	.button_on_the_flexslider_item {
	    position: static;
	    float: left;
	}
	.button_on_the_flexslider .button_on_the_flexslider_item:last-child{
		float: right;
	}
	/*=========================royalslider=====================*/
	.rsDefault, .rsDefault .rsOverflow {
	    height: 817px !important;
	}
	/*=========================royalslider=====================*/
	/*============================catalog_2 end============================*/
	
	/*===========================card_wallpaper start===========================*/
	.wallpaper_catalog_item.right{
		float: left;
	}
	.wallpaper_short_info_list2 .info2_walpaper{
		padding-left: 8px;
	}
	.wallpaper_short_info_box{
		width: 470px;
	}
	.card_wallpaper .wrapper_slider{
		padding-left: 20px;
	}
	.card_wallpaper2_it1 .info1_walpaper{
		width: auto;
		padding-right: 8px;
	}
	.card_wallpaper2_it1 .info2_walpaper{
		padding-left: 0;
	}
	/*===========================card_wallpaper end===========================*/
	.mxh534 {
	    max-height: none;
	}
	/*===========================checkout start===========================*/

	.checkout_content_box .checkout_content_box_item_right{
		margin-left: -15px;
	}
	.delivery_icon_box {
	    width: 90px;
	}
	.checkout_content_box .img_and_info_item {
	    width: 100px;
	}
	.checkout_content_box .lis_mod {
	    padding-left: 15px;
	}
	.checkout_content_box .lis_mod .wallpaper_short_info_list.first{
		padding-bottom: 0;
	}
	.checkout_content_box .after_table_box {
	    padding-right: 25px;
	}
	/*===========================checkout end===========================*/
	/*===========================podbor_oboev2 start===========================*/
	.selection_wallpaper_box_item .content_search_box,
	.selection_wallpaper_box_item .cont_search_box_item2{
		width: 100%;
	}
	.selection_wallpaper_box_item .content_search_box label{
		margin-bottom: 10px;
	}
	.selection_wallpaper_box_item .content_search_box label,
	.selection_wallpaper_box_item .cont_search_box_item2{
		display: block;
		float: none;
	}
	.selection_filter_color_list {
	    margin: 10px -5px 0;
	}
		.selection_filter_color_list_item,
		.selection_filter_color_list .selection_filter_color_list_item:first-child{
			margin: 5px;
		}
	.many_filter_box .filter_label{
		padding: 5px 5px 5px 30px;
	}
	.many_filter_box .many_filter_scroll{
		height: 246px;
	}
	/*===========================podbor_oboev2 end===========================*/
	/*andrew_responsive*/
	.sale_text p{
		margin: 20px 0;
	}
	.sale_content{
		margin: 0 -10px; 
	text-align: center;
	}
	.sale_content_block{
		margin: 0 10px 20px;
	}
	.content_search_box .header_top_input{
		width: 65%;
	}
	.podbor_ob_left_wrapper{
		width: 73%;
	}
	.podbor_ob_left_figure{
		margin: 0 -7px 0;
	}
	.cards_frescoes_right_box{
		width: 300px;
	}
	.cards_frescoes_right_box_wrapper{
		padding: 18px 24px 0 10px; text-align: center;
	}
	.cards_frescoes_right_box_wrapper .catalog_2_figure{
		float: none; 
		display: inline-block;
	}
	.cards_frescoes_right_box .jspContainer{
		width: 298px !important;
	}	
	.cards_frescoes_right_box .jspContainer .jspPane{
		width: 295px !important;
	}
	.cards_frescoes_figure_wrapper{
		margin: 0 -15px;
	}
	/*end*/
	/*liz_responsive*/
	.wallpapers_figure{
		width: 138px;
	}
	/*end*/
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
.delivery_list_l{
		width: 31.9%;
		margin-right: 15px;
	}
	.delivery_contacts{
		width: 65%;
	}
	.contacts{
		width: 100%;
	}
	.shop{
		width: 40%;
		float: left;
	}
	.way{
		width: 55%;
		float: right;
	}
	.map{
		width: 100%;
	}
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

}
@media only screen and (max-width: 939px) {
	.news_main_box_item {
	    width: 46.5%;
	}
}
@media only screen and (max-width: 930px) {
	.box_arctickmodal{width: 700px;}
}
@media only screen and (max-width: 910px){
	.podbor_ob_left_wrapper{width: 72%;}
	.podbor_ob_left_wrapper .error_search_box .header_top_input{
		width: 100%;
	}
	.podbor_ob_left_wrapper .error_search_box .err_inp{
		width: 70%;
	}
}
@media only screen and (max-width: 901px) {
	.news_main_box_item {
        width: 45.5%;
	}
}
@media only screen and (max-width: 879px) {
	.podbor_ob_left_wrapper{width: 71%;}
	.podbor_ob_left_wrapper .sale_content_block{width: 175px;}
}
@media only screen and (max-width: 868px) {
	.podbor_ob_left_wrapper .sale_content_block{width: 160px; margin: 0 4px 15px;}
}
@media only screen and (max-width: 864px){
	.news_main_box_item {
	    width: 45%;
	}
}
@media only screen and (max-width: 847px) {
	.news_main_box_item {
	    width: 46%;
	}
	.podbor_ob_left_wrapper{width: 68%;}
}
@media only screen and (max-width: 821px) {
	.podbor_ob_left_wrapper .sale_content_block{width: 170px; margin: 0 5px 15px;}
}
@media only screen and (max-width: 803px) {
	.news_main_box_item {
	    width: 45.9%;
	}
}
@media only screen and (max-width: 786px) {
	.news_main_box_item {
	    width: 45%;
	}
}
@media only screen and (max-width: 767px) {
	.more_info_box_text.pr10{
		margin-bottom: 18px;
	}
	.more_info_box_text.pr10,
	.more_info_box_text.pl34{
		padding: 0;
	}
	.advantages_title {
	    padding-bottom: 20px;
	}
	.footer_title{
		width: 100%;
		margin-top: 10px;
	}
	/*============================catalog_2 start============================*/
	.figure_block{
		margin: 0 -10px;
	}
		.catalog_2_figure{
			width: 22%;
			margin: 10px;
		}
	.sale_text p{
		margin-top: 25px;
	}
	/*============================catalog_2 end============================*/
	/*===========================card_wallpaper start===========================*/
	.wallpaper_img_box{
		width: 65%;
	}
	.wallpaper_catalog_item.right{
		margin-left: 60px;
	}
	.cost_wallpaper{
		margin-bottom: 30px;
		width: auto;
	}
	.wallpaper_short_info_box{
		padding-top: 20px;
		width: auto;
	}
	.card_wallpaper .wrapper_slider {
	    padding-left: 0px;
	}
	.card_wallpaper .catalog_slides_carousel ul li {
	    width: 2% !important;
	}
	.card_wallpaper2_it1 {
	    width: 100%;
	}
	.card_wallpaper2_it1 .cost_wallpaper_button{
		float: right;
		margin-top: 0;
	}
	.card_wallpaper2_it1 .info1_walpaper{
		width: 180px;
		padding-right: 0;
	}
	.card_wallpaper2_it1 .info2_walpaper{
		padding-left: 8px;
	}
	.card_wallpaper2 .wallpaper_catalog{
		padding-right: 0;
	}
	/*===========================card_wallpaper end===========================*/
	/*===========================checkout start===========================*/
	.checkout_content_box .checkout_content_box_item_right{
		margin-left: 0;	
		padding-top: 15px;
	}
	.checkout_content_box_item_right .delivery_icon_box:last-child{
		padding-bottom: 0;
	} 
	.checkout_content_box .delivery_icon_box {
	    margin: inherit;
	    width: 275px;
	    text-align: left;
	    display: table;
	    padding-bottom: 20px;
	}
	.delivery_icon_box_img,.delivery_icon_box_text {
		display: table-cell;
		vertical-align: middle;
		padding-top: 0;
	}
	.delivery_icon_box_text{
		width: 200px;
		padding-left: 10px;
	}
	/*===========================checkout end===========================*/
	/*andrew_responsive*/
	.cards_frescoes_right_box{width: 100%; margin-bottom: 20px;}
	.cards_frescoes_right_box_wrapper{padding: 18px 25px 0 13px; width: 100%; text-align: center;}
	.cards_frescoes_right_box .jspContainer{width: 100% !important;}	
	.cards_frescoes_right_box .jspContainer .jspPane{width: 100% !important;}
	.cards_frescoes_figure_wrapper{margin: 0 -15px;}

	.new_product_car_box_img.cards_frescoes_similar_options{
        line-height: 210px;
    }
	.accordion_box{width: 100%;}
    .wallpapers_main_page_block1_img{
    	margin-top: 30px;
    }
    /*end*/
}
@media only screen and (max-width: 760px) {
	.header_menu_list li a {
	    padding: 5px 10px;
	}
	.box_arctickmodal{height: auto; width: 500px;}
	.modal_product_box{width: 100%;}
	.modal_product_text{float: none; text-align: center; margin: 0 0 20px;}
	.modal_card_wallpaper_left{float: none;}
	.modal_return_btn{text-align: center;}
	.modal_card_wallpaper_right{float: none;margin-top: 20px; width: 100%;}
	.modal_card_wallpaper_right p{margin-bottom: 20px;}
	.modal_card_wallpaper_right p br{display: none;}
	.modal_box_button{float: none; text-align: center;}

	/*andrew_responsive*/
	.return_back_box_link{margin-bottom: 20px;}

	.sale_content_block {width: 170px;}
	.sale_product_name, .sale_product_cost{font-size: 14px;}

	.catalog2_figure_link, .similar_frescoes_link{text-align: center;}
	
	.podbor_ob_left_wrapper{width: 100%; margin-top: 20px;}

	.brands_carousel_2_item{width: 180px;}

	.fres_razde_link {padding: 0;}

	/*end*/
	/*liz_responsive*/
	.wallpapers_main_page{
		width: 100% !important;
	}
	.wallpapers_figure{
		width: 157px;
	}
	.pl34{
		padding-left: 15px;
	}
	/*end*/
	.news_box .wallpapers_main_page,
	.news_box2 .wallpapers_main_page {
	    width: 100% !important;
	    margin-top: 20px;
	}
	.news_main_box_item .wallpapers_main_page_block1_img{
		margin-top: 0;
	}
}
@media only screen and (max-width: 743px) {
	/*============================catalog_2 start============================*/
	.catalog_2_figure{
		margin: 1.5%;
	}
	.figure_block {
        margin: 0 -1.5%;
	}
	/*============================catalog_2 end============================*/
}
@media only screen and (max-width: 736px){
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.delivery_list_l{
		width: 32.9%;
		margin-right: 10px;

	}
	.delivery_contacts{
		width: 65%;
	}
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

}
@media only screen and (max-width: 714px){
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.delivery_list_l{
		width: 100%;
	}
	.delivery_contacts{
		width: 100%;
	}
/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

}
@media only screen and (max-width: 700px) {
	/*===========================error end===========================*/
	.error_search_box label,
	.err_inp,
	.content_search_box .header_top_input,
	.content_search_box label{
		display: block;
		float: none;
	}
	.error_search_box label{
		margin-bottom: 10px;
	}
	.error_search_box,
	.err_inp,
	.content_search_box .header_top_input,
	.podbor_ob_left_wrapper .error_search_box .err_inp{
		width: 100%;
	}
	/*===========================error end===========================*/
}
@media only screen and (max-width: 690px) {
	/*============================error start============================*/
	.error_search_box,.list_error{
		width: 100%;
	}
	/*============================error end============================*/
	/*============================search start==========================*/
	.content_search_box{width: 100%;}
}
@media only screen and (max-width: 674px) {
 	.header_menu_list li a {
	    padding: 5px 20px;
	}
}
@media only screen and (max-width: 635px) {
	/*===========================card_wallpaper start===========================*/
	.wallpaper_short_info_list{
		margin-right: 0;
	}
	/*===========================card_wallpaper end===========================*/
	/*andrew_responsive*/
	.sale_content {
        margin: 0 -5px;
    }
	.sale_content_block {width: 154px; margin: 0 5px 10px;}
	.podbor_ob_left_wrapper .sale_content_block{width: 154px; margin: 0 3px 10px;}
	.sale_product_name, .sale_product_cost{font-size: 12px;}

	.cards_frescoes_right_box_wrapper{padding: 18px 17% 0 8%;}
	/*end*/
}
@media only screen and (max-width: 619px) {
	.new_product_car_box{
		width: 230px;
	}
	.new_product_car_box_img img{
		width: 230px;
		height: auto;
	}

	.brands_carousel_2_item{width: 210px;}
}
@media only screen and (max-width: 600px) {
	/*============================catalog_2 start============================*/
	.catalog_2_figure_item .sale_product_name {
	    line-height: 15px;
	    font-size: 11px;
	}
	.catalog_2_figure_item .sale_product_cost {
	    line-height: 18px;
	    font-size: 12px;
	}
	.figure_block {
        margin: 0 -10px;
	}
	.catalog_2_figure {
	    margin: 10px;
	    width: 150px;
	}
	.catalog_2_figure_item{
		text-align: left;
	}
	/*============================catalog_2 end============================*/
	/*===========================card_wallpaper start===========================*/
	.card_wallpaper .catalog_slides_carousel ul li {
	    width: 2.5% !important;
	}
	/*===========================card_wallpaper end===========================*/

}
@media only screen and (max-width: 583px){
	/*============================catalog_2 start============================*/
	.catalog_slides_carousel ul li {
	    width: 2.8% !important;
	}
	/*============================catalog_2 end============================*/
}
@media only screen and (max-width: 580px){
	/*============================checkout start============================*/
	.product_table{
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 5px;
	}
	.product_table_td{
		display: block;
	    box-sizing: border-box;
	    width: 100% !important;
	    font-weight: bold;
	    text-align: left;
	}
	.product_table_th{
		display: none;
	}
	.product_table .product_table_tr .product_table_td[data-table-text]:first-child:before{
		background-color: #68b035;
	}
	.product_table [data-table-text]:before {
        display: block;
        font-size: 15px;
        line-height: 30px;
        height: 30px;
        padding: 0 20px;
        color: #000;
        background-color: #eeeeee;
        content: attr(data-table-text);
        text-align: left;
    }
    .checkout_content_box .img_and_info_tb{
    	padding-top: 20px;	
    }
    .checkout_content_box .img_and_info_item {
	    width: 140px;
	}
	.checkout_content_box .lis_mod{
		padding-left: 30px;
	}
	.product_table_span{
		padding-left: 20px !important;
	}
	/*============================checkout end============================*/
}
@media only screen and (max-width: 558px) {
	/*============================podbor_oboev2 start============================*/
	.many_filter_box{
		margin: -10px 0 30px 0;
	}
		.many_filter_box_item{
			margin: 10px 0;		
		}
		[data-width="many_filter_box_1"], 
		[data-width="many_filter_box_2"], 
		[data-width="many_filter_box_3"], 
		[data-width="many_filter_box_4"], 
		[data-width="many_filter_box_5"], 
		[data-width="many_filter_box_6"] {
		    width: 100%;
		}
	/*============================podbor_oboev2 end============================*/
	.box_arctickmodal{height: auto; width: 400px;}
	.modal_card_wallpaper_left .lis_mod{padding-left: 5px;}

}
@media only screen and (max-width: 550px) {
	.new_product_car_box,
	.new_product_car_box_img img{
		width: 210px;
	}
	hr.hr{margin-bottom: 30px;}	
}
@media only screen and (max-width: 547px) {
 	.header_busket{
 		margin-right: 0;
 		margin-bottom: 15px;
 	}
 	.header_top_search{
 		float: none;
 		margin-right: 0;
 		clear: both;
 		width: 100%;
 	}
 	.title,.title1{
 		font-size: 22px;
 		line-height: 26px;
 	}
	
	/*andrew_responsive*/
	.content_search_box .header_top_input{
		width: 60%;
	}

	.sale_content_block {
		width: 170px; 
		margin: 0 7px 15px;
	}

	.podbor_ob_left_wrapper .sale_content_block{
		width: 170px; 
		margin: 0 7px 20px;
	}
	/*end*/
	/*liz_responsive*/
	.wallpapers_main_page_block2{
		width: 100%; 
		margin: 0 0 45px 0 !important; 
		text-align: center;
	}
	.wallpapers_main_page_block1_img img{
		padding-left: 0px; width: 100%;
	}	
	.wallpapers_main_page{
		width: 100% !important;
	}
	.wallpapers_figure{
		text-align: center; margin: 5px;
	}
	/*end*/
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.form{
		width: 100%;
	}
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
 	
}
@media only screen and (max-width: 546px) {
	.cost_wallpaper_button{
 		padding-top: 15px;
 		float: left;
 	}
 	.card_wallpaper2_it1 .cost_wallpaper_button{
 		float: left;
 	}
}
@media only screen and (max-width: 530px) {
	.news_main_box_item {
	    width: 100%;
	    margin: 0 0 20px 0;
	}
	.news_main_box{
		margin: 0;
	}
	.news_box .wallpapers_main_page_block1{
		border-bottom: none;
		margin-bottom: 0;
	}
	.news_box .wallpaper_block1_h2{
		font-size: 20px;
	} 
}
@media only screen and (max-width: 525px) {
		h1.logo a{
			margin: auto;
		}
	h1.logo,
	.graphic_and_tel{
		float: none;
		text-align: center;
		margin: 10px 0;
	}
}
@media only screen and (max-width: 522px) {
	/*===========================card_wallpaper start===========================*/
	.wallpaper_catalog_item.right {
	    margin-left: 30px;
	}

	/*===========================card_wallpaper end===========================*/
	
}
@media only screen and (max-width: 520px) {
 	.header_menu_list li a {
	    padding: 5px 10px;
	}
}
@media only screen and (max-width: 510px) {
	/*===========================checkout start===========================*/
	.checkout_form_label{
		padding-top: 0;
		padding-bottom: 5px;
	}
	.checkout_form_label,
	.checkout_form_input,
	.checkout_form_textarea,
	.checkout_radio_box{
		float: none;
		display: block;
	}
	.checkout_box_left_form,
	.checkout_form_input,
	.checkout_form_textarea{
		width: 100%;
	}
	.checkout__left_title h2{
		text-align: left !important;
	}
	.checkout__left_title h2.title2{
		font-size: 18px;
	}
	/*===========================checkout end===========================*/
}
@media only screen and (max-width: 505px) {
	.header_menu{
		padding: 20px 0 17px;
	}
	.new_product_car_box,
	.new_product_car_box_img img{
		width: 170px;
	}	
	.new_product_car_box_price{
		padding: 17px 10px 20px;
	}
	.new_product_name{
		font-size: 14px;
	}
	.new_product_cost{
		font-size: 16px;
	}
	.pagination__title{
		padding-right: 50px;
	}
}
@media only screen and (max-width: 492px) {
	/*===========================card_wallpaper start===========================*/
	.wallpaper_img_box {
	    width: 100%;
	}
	.info1_walpaper,
	.card_wallpaper2_it1 .info1_walpaper{
		width: auto;
		padding-right: 8px;
	}
	.wallpaper_short_info_list2 .info2_walpaper,
	.info2_walpaper,
	.card_wallpaper2_it1 .info2_walpaper{
		padding-left: 0;
	}
	/*===========================card_wallpaper end===========================*/
	/*===========================brand start============================*/
	.brands_carousel_2_item{width: 100%;}
	/*===========================brand end============================*/
	
}
@media only screen and (max-width: 489px) {
	.wallpaper_catalog_link_box,
	.card_wallpaper2 .wallpaper_catalog_link_box{
		width: 150px;
	}
}
@media only screen and (max-width: 479px) {
 body{min-width:320px;}
	.main_img_content_item, .main_img_content_item.main_img2{
		background-position: -160px 0;
	}
		.indent_box, .main_img_content_item.main_img2 .indent_box{
		    margin-left: 20px;
		    width: 220px;
		}
			.text_on_slider, .main_img_content_item.main_img2 .text_on_slider{
				font-size: 18px;
			}
	.pagination_box_and_title{
		padding-left: 10px;
	}
	/*===========================card_wallpaper start===========================*/
		.button_on_the_flexslider{
			text-align: center;
		}
			.button_on_the_flexslider_item{
				margin: 0 10px 10px 0;
				float: none;
			}
			.button_on_the_flexslider .button_on_the_flexslider_item:last-child{
				float: none;
			}
	/*===========================card_wallpaper end===========================*/
	/*andrew_responsive*/
	.content_search_box label{font-size: 18px;}
	.content_search_box .header_top_input{width: 60%;}

	.sale_content_block {width: 150px;}
	.sale_product_name, .sale_product_cost{font-size: 12px;}

	.podbor_ob_left_wrapper .sale_content_block{width: 150px;}
	/*end*/
	/*liz_responsive*/
	.wallpapers_main_page_block1{
		width: 100%;
	}
	.wallpapers_main_page_block1_img{
		margin-top: 30px;width: 100%;
	}
	.wallpapers_main_page{
		width: 100%;
	}
	.wallpaper_block1_h2{
		line-height: 30px;
	}
	.wallpapers_main_page_block2{
		padding: 0 -5px;	}
    .pl34{
    	padding-left: 15px;
    }
    /*end*/
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/
	.shop{
		width: 100%;
		float: left;
	}
	.way{
		width: 100%;
		float: right;
	}
	.point_4_label{
		display: block;
		width: 100%;
		padding-top: 8px;
	}
	.point_5_label{
		padding-top: 8px;
	}
	.point_4_img{
		float: left;
	}
	.point_input, .point_3_textarea, .point_5_input{
		width: 100%;
	}
	/*=====================================> RESPONSIVE DELIVERY AND CONTACTS <====================================*/

}
@media only screen and (max-width: 478px){
	.footer_soc_list_item {
	    margin: 0 6px 6px 0px;
	}

	.box_arctickmodal{height: auto; width: 270px;}
	.modal_card_wallpaper_left .lis_mod{padding-left: 0;margin-top: 20px;}
	.box_arctickmodal .arctick_title{padding-top: 15px;}
	.modal_card_wallpaper_left .modal_return_btn .return_back{ font-size: 12px; padding: 12.5px 10px 12.5px 25px}
	.modal_card_wallpaper_left .modal_return_btn .return_back:before{left: 10px}
	.modal_card_wallpaper_right .modal_box_button .modal_box_button_item{font-size: 13px; padding: 12px 30px;}

}
@media only screen and (max-width: 439px){
	.new_product_car_box,
	.new_product_car_box_img img{
		width: 230px;
	}
	footer.footer_box{
		padding: 20px 15px;
	}
	.footer_title{
		font-size: 16px;
		padding-bottom: 0;
	}
	.footer__link ,
	.footer_contact_box span{
	    font-size: 12px;
	    line-height: 20px;
	}

	.brands_carousel_2_item {width: 210px;}
}
@media only screen and (max-width: 421px){
	.catalog_2_figure{
		margin: 5px;
	}

	.wallpapers_figure{
		width: 125px;
	}
}
@media only screen and (max-width: 406px){
	/*===========================card_wallpaper start===========================*/
	.wallpaper_catalog_item.right {
	    margin-left: 0;
	    float: right;
	}
	/*===========================card_wallpaper end===========================*/

}
@media only screen and (max-width: 401px){
	.catalog_2_figure,
	.sale_content_block{
		margin: 5px;
		width: 140px;
	}
	.sale_content_block{
		margin: 5px 4px;
	}
	.range{
		width: 100%;
	}
	
	.podbor_ob_left_wrapper .sale_content_block{width: 140px; margin: 5px;}
	/*andrew_responsive*/
	.sale_product_name, .sale_product_cost{font-size: 11px;line-height: 15px;}
	.sale_content{
		margin-bottom: 10px;
	}
	/*end*/
}
@media only screen and (max-width: 385px) {
	/*===========================card_wallpaper start===========================*/
	.wallpaper_catalog_link_box, .card_wallpaper2 .wallpaper_catalog_link_box{
		width: 191px;
	}
	.wallpaper_catalog_item.right{
		float: left;
		margin-top: 10px;
	}
	/*===========================card_wallpaper end===========================*/
	
}
@media only screen and (max-width: 381px){
	.catalog_2_figure{
		width: 135px;
	}
	.podbor_ob_left_wrapper .sale_content_block{width: 135px;}
}
@media only screen and (max-width: 371px){
	.catalog_2_figure{
		width: 130px;
	}
	.checkout_content_box .lis_mod {
	    padding-left: 0px;
	    padding-top: 15px;
	    float: none;
	}
	.checkout_content_box .lis_mod .wallpaper_short_info_list{
		padding-left: 20px;
	}
	.checkout_content_box .delivery_icon_box_text{
		width: 160px;
	}
	.checkout_content_box .delivery_icon_box{
		width: 240px;
	}
	.checkout_content_box .lis_mod h5{
		text-align: center;
	}
	.checkout_content_box .img_and_info_item{
		float: none;
		margin: auto;
	}
}
@media only screen and (max-width: 362px){
	.sale_content_block {
        margin: 3px 3px;
	}	
}
@media only screen and (max-width: 361px){
	.catalog_2_figure,
	.sale_content_block{
		width: 125px;
		margin: 5px 5px;
	}
	.sale_content_block{
		margin: 3px;
	}
	.sale_content_block_item{
		padding: 8px;
	}
	.sale_content {
        margin: 0 -3px;
	}
}
@media only screen and (max-width: 360px) {
	.pagination__title{
		font-size: 13px;
	}

	.wallpapers_figure{
		width: 105px;
	}
}
@media only screen and (max-width: 350px){
	.paggination_box_news_link{
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
	.news_main_box_item .return_back_box_link2 .return_back, 
	.rotate_btn .return_back{
		font-size: 12px;
		padding: 9px 30px 9px 20px;	
	}
	.news_main_box_item .return_back_box_link2 .return_back:before, 
	.rotate_btn .return_back:before{
		right: 10px;
	}
	.data_time{
		margin-bottom: 10px;
	}
	.news_txt{
		font-size: 13px;
	}
}
@media only screen and (max-width: 345px){
	.podbor_ob_left_wrapper .sale_content_block{width: 120px;}
}
@media only screen and (max-width: 343px){
	.sale_content_block {
        margin: 3px;
	}
}
@media only screen and (max-width: 340px) {
	.advantages_box_btn_it{
		padding: 15.5px 20px;
	}
}
@media only screen and (max-width: 335px){
	.catalog_2_figure{
		width: 120px;
	}
}
@media only screen and (max-width: 325px){
	.catalog_2_figure{
		width: 115px;
	}
}
@media only screen and (max-width: 322px){
	.selection_filter_color_list_item, .selection_filter_color_list .selection_filter_color_list_item:first-child {
        margin: 4px;
	}
	.selection_filter_color_list{
		margin: 10px -4px 0;
	}
}