@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/flexslider.css";
@import "../css/jquery.jscrollpane.css";
@import "../css/ion.rangeSlider.css";
@import "../css/ion.rangeSlider.skinFlat.css";
@import "../css/style_andrew.css";
@import "../css/style_liz.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:20px;
  color:#424242;
  -webkit-text-size-adjust: none;
  background-color: #F7F7F7;
}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.dragging{
    opacity: 0.7;
}
.draggable{
    z-index: 3;
} 
.main{
    width: auto;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left {text-align:left}
.al_right {text-align:right}
.al_center {text-align:center}
.al_just{text-align:justify;}

.it{font-style:italic}
.let{letter-spacing:-1px}
.let_0{letter-spacing:0px}
.let-01{letter-spacing: -0.1px;}
.let-02{letter-spacing: -0.2px;}
.let-03{letter-spacing: -0.3px;}
.let-05{letter-spacing: -0.5px;}

.val_mid{vertical-align: middle;}
.val_top{vertical-align: top;}
.val_bot{vertical-align: bottom;}


.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.m_top_zero{ margin-top:0 !important;}
.m_right_zero{ margin-right:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}
.p_top_zero{ padding-top:0 !important;}
.p_right_zero{ padding-right:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}

/*----------------------> Basic Colors <------------------*/

.accept_color1{color: #000;}
.accept_color2{color: #fff;}
.accept_color3{color: #68b035;}



.accept_bg_color1{background-color: #000;}
.accept_bg_color2{background-color: #fff;}
.accept_bg_color3{background-color: #70A733;}
.accept_bg_color4{background-color: #1E98B0 !important;}
.accept_bg_color5{background-color: #6F8EAA !important;}
.accept_bg_color6{background-color: #68B035 !important;}
.accept_bg_color7{background-color: #f5791f !important;}
.accept_bg_color8{background-color: #e9493b !important;}
.accept_bg_color9{background-color: #10a0ba !important;}
.accept_bg_color10{background-color: #48739b !important;}

.bg_none{ background-color:none !important;}

/*======================> Header <======================*/
header {
  
}
    .header_top{
        padding: 9px 0;
    }
        .header_top_search{
            width: 227px;
            height: 30px;
            margin-right: 28px;
            float: right;
            position: relative;
        }
            .header_top_input{
                width: 100%;
                height: 30px;
                padding: 5px 35px 5px 10px;
                font-size: 16px;
                background-color: #fff;
                border: 1px solid #c7c7c7;
            }
            .podbor_ob_left_wrapper .error_search_box .header_top_input{
                font-size: 16px;
            }
            .header_top_button{
                position: absolute;
                top: 0;
                right: 0;
                background: #a6a5a5 url(../images/icon/images/icon_search.png) 50% 50% no-repeat;
                width: 30px;
                height: 30px;
                cursor: pointer;
                border: none;
                outline-style: none;
            }
        .header_busket{
            height: 30px;
            margin-right: 13px;
            float: right;
        }
            .header_busket_button{
                height: 30px;
                font-size: 14px;
                padding: 5px 5px 5px 32px;
                color: #FFF;
                position: relative;
                background: #68b035 url(../images/icon/images/icon_basket.png) 6px 50% no-repeat;
                border: none;
                cursor: pointer;
                outline: none;
            }
            .header_busket_button:hover{background-color: #599f27;}
            .header_busket_button:hover:after{
                border-left: 10px solid #599f27;
            }
            .header_busket_button:after{
                border-left: 10px solid #68b035;
                border-top: solid 15px transparent;
                border-bottom: solid 15px transparent;
                border-right: solid 10px transparent;
                position: absolute;
                top: 0;
                right: -20px;
                content: "";
            }
            .header_busket_button2{
                height: 30px;
                font-size: 14px;
                padding: 5px 7px 5px 14px;
                width: 109px;
                border: 1px solid #c7c7c7;
                border-left: 1px solid transparent;
                cursor: pointer;
                background-color: #FFF;
                outline: none;
            }
            .header_busket_button2:hover{
                background-color: #f7f7f7;
            }

h1.logo{
    margin-right: 70px;
    float: left;
}
h1.logo a{
    display:block;
    width:230px;
    height:46px;
    background:url(../images/icon/images/logo.png) 0 0 no-repeat;
    text-decoration:none;
    text-indent:-9999px;
}
h1.logo a.logo2{
    height: 61px;
    width: 230px;
    background:url(../images/icon/images/logo2.png) 0 0 no-repeat;
}
.header_menu{
    background-color: #596570;
    padding: 18px 15px 17px;
}
.header_menu.header_menu2{
    background-color: #596570;
    padding: 6px 15px 14px;
}
    nav{
        float: left;
        padding-top: 2px;
    }
    nav.nav2{
        padding-top: 14px;
    }
        .header_menu_list{
            margin-left: -18px;
        }   
            .header_menu_list li{
                float: left;
            }
            .header_menu_list li a{
                padding: 12px 18px;
                display: block;
                color: #fff;
            }
            .header_menu_list li.current a{
                font-weight: 700;
            }
            .header_menu_list li a:hover{color: #A6A8A9;}

    .graphic_and_tel{
        float: right;
        padding-top: 3px;
    }
    .graphic_and_tel.graphic_and_tel2{
        padding-top: 15px;
    }
        .graphic_and_tel_item{
            padding-left: 36px;
            padding-top: 2px;
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            color: #FFF;
            background: url(../images/icon/images/icon_telephone.png) 0 50% no-repeat;
        }
/*=====================> Content ========================*/
/*========================return_link start========================*/
.return_back_box_link{
    margin: 0 0 50px 0;     
}
.return_back_box_link2{
    margin: 0 0 50px 0;     
}
    .return_back{
        text-transform: uppercase;
        color: #626161;
        display: inline-block;
        background: #eeeeee;
        padding: 12.5px 22px 12.5px 48px;
        position: relative;
        font-size: 14px;
    }
        .return_back:hover,
        .button_on_the_flexslider_item:hover{
            background-color: #E6E6E6;
        }
        .return_back:before{
            content: "";
            position: absolute;
            background: url(../images/icon/images/come_back_arrow2.png) 0 0 no-repeat;
            width: 10px;
            height: 13px;
            left: 19px;
            top: 50%;
            margin-top: -6.5px;
        }
/*========================return_link end========================*/

#content {
    background-color: #fff;
    padding:0 15px;
}
.main_img_content{
    margin: 0 -15px;
    overflow: hidden;
    max-height: 440px;
}
    
    .main_img_content_item{
        background: url(../images/index_img.jpg) 0 0 no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        width: 100%;
        height: 440px;
        position: relative;
    }

    .main_img_content_item.main_img2{
        background: url(../images/index_img2.jpg) 0 0 no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;        
    }
        
        .indent_box{
            width: 345px;
            padding-top: 92px;
            margin: 0 0 0 178px;
        }
            .text_on_slider{
                text-transform: uppercase;
                text-align: center;
                font-size: 25px;
                line-height: 35px;
                color: #38424D;
                margin-bottom: 38px;
                letter-spacing: -1.3px;
            }

            .img_on_slider{
                text-align: center;
                margin-bottom: 39px;
            }
                .img_on_slider img{
                    height: 93px;
                    width: 236px !important;
                    text-align: center;
                    display: inline-block !important;
                    transform-style: inherit !important;
                }

        .main_img_content_item.main_img2 .indent_box{
            width: 305px;
            padding: 63px 0 0 0;
        }

            .main_img_content_item2_box{
                background: rgba(255, 255, 255, 0.5);
                padding: 30px 0 25px;
            }

            .main_img_content_item2_box .text_on_slider{
                margin-bottom: 30px;
            }

            .main_img_content_item2_box .img_on_slider{
                margin-bottom: 18px;
            }

            .main_img_content_item2_box .img_on_slider img{
                height: 87px;
                width: 251px !important;
            }    

            .button_on_slider{
                text-align: center;
            }

                .button_on_slider_item{
                    background: url(../images/icon/images/icon_arr.png) 100% 50% no-repeat;  
                    padding: 4px 15px 4px 0;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 21px; 
                    color: #38424D;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }


.advantages_box{
    margin-top: 30px;
}

    .advantages_box_item{
        border: 1px solid #e6e6e6;
        padding: 34px 100px 33px;
        margin-bottom: 45px;
    }

        .advantages_title{
            padding-bottom: 31px;
        }
        .advantages_box_button{
            display: block;
            text-align: center;
            margin:0 auto 20px;
        }
        .advantages_title2{
            padding-bottom: 32px;
        }
            .advantages_box_btn_it{
                text-align: center;
                display: inline-block;
                text-transform: uppercase;
                color: #FFF;
                font-size: 17px;
                line-height: 20px;
                padding: 15.5px 43px;
                border: none;
                cursor: pointer;
                letter-spacing: -0.5px;
            } 
            .advantages_box_btn_it:hover{
                background-color: #599f27;
            }

        .advantages_four_box{
            margin: -10px 0px;
            text-align: center;
        }  
            .advantages_four_box_item{
                width: 185px;
                margin: 10px 20px;
                padding: 16px 6px 11px;
                display: inline-block;
            }
            [data-border="box1"]{border: 1px solid #EA4638;} 
            [data-border="box2"]{border: 1px solid #70a733;} 
            [data-border="box3"]{border: 1px solid #f5791f;} 
            [data-border="box4"]{border: 1px solid #18a0ba;} 

                .advantages_four_box_img{
                    padding-bottom: 12px;
                }
                    .advantages_four_box_img img{
                        
                    }
                .advantages_four_box_text{
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                }
.brands_box{
    
}
    .brands_box_item{
        position: relative;
        margin-bottom: 50px;
        max-height: 232px;
        overflow: hidden;
    }
        .pagination_box_and_title{
            width: 100%;
            padding: 13px 19px 13px 21px;
            background: url(../images/icon/images/bg_pattern.png) 100% 50% no-repeat;
            margin-bottom: 20px;
        }
            .pagination__title{
                font-size: 17px;
                line-height: 24px;
                color: #FFF;
                text-transform: uppercase;
                padding-right: 80px;
            }

        .brands_carousel{
            padding: 38px 0 11px;
        }   
            .brands_carousel_item{
                display: block;
                line-height: 112px;
                text-align: center;
                float: left;
            }
                .brands_carousel_item a,
                .brands_carousel_item a img{
                    visibility: visible;
                    opacity: 1;
                    -webkit-transform-style: flat !important;
                       -moz-transform-style: flat !important;
                            transform-style: flat !important;
                }
                .brands_carousel_item a:hover,
                .brands_carousel_item a:hover img{
                    opacity: 0.5;
                    visibility: visible;
                }
                    .brands_carousel_item_img{
                        line-height: 112px;
                        vertical-align: middle;
                        display: inline-block !important;
                        text-align: center;
                    }
            .brands_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .brands_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .sertificate_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .sertificate_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .new_product_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .new_product_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .brands_carousel_2.owl-carousel .owl-controls .owl-nav .owl-prev,
            .brands_carousel_2.owl-carousel .owl-controls .owl-nav .owl-next{
                text-indent: -9999px;
                background: url(../images/icon/images/owl_arrow.png) 0 0 no-repeat;
                width: 40px;
                height: 50px;
                display: inline-block;
            }
            .brands_carousel.owl-carousel .owl-controls .owl-nav,
            .sertificate_carousel.owl-carousel .owl-controls .owl-nav,
            .new_product_carousel.owl-carousel .owl-controls .owl-nav,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav,
            .brands_carousel_2.owl-carousel .owl-controls .owl-nav{
                position: absolute;
                top: -70px;
                right: 11px;
                clear: both;
            }
            .brands_carousel.owl-carousel .owl-controls .owl-nav,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav{
                right: 0;
            }
            .new_product_carousel.owl-carousel .owl-controls .owl-nav{
                top: -55px;
            }
            
            .brands_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .sertificate_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .new_product_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
            .brands_carousel_2.owl-carousel .owl-controls .owl-nav .owl-prev{
                background-position: 14px 50%;
                float: left;
            }
            .brands_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .sertificate_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .new_product_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .review_box_carousel.owl-carousel .owl-controls .owl-nav .owl-next,
            .brands_carousel_2.owl-carousel .owl-controls .owl-nav .owl-next{
                background-position: -26px 50%;
                float: right;
            }


.sertificate_box{

}   
    .sertificate_box_item{
        position: relative;
        margin-bottom: 56px;
            overflow: hidden;
            max-height: 312px;
    }     
        .sertificate_carousel{
        }
        .sertificate_carousel.owl-carousel .owl-item{
            padding:0 15px;
        }
        .sertificate_carousel.sert2.owl-carousel .owl-item{
            padding: 0 11px;   
        }
            .sertificate_carousel_item{
                display: inline-block;
                line-height: 241px;
            }
                .sertificate_carousel_item_img{
                    line-height: 241px;
                    vertical-align: middle;
                    display: inline-block !important;
                    text-align: center;
                }


.new_product_box{
    
}
    .new_product_box_item{
        overflow: hidden;
    }
    .mxh448{max-height: 448px ;}       
    .mxh467{max-height: 467px ;}       
    .mxh534{max-height: 534px ;}       
        .new_product_carousel{
            margin: -15px 0px 20px;                
        }
        .margin{
            margin: 0px -15px;                
        }
        .margin2{
            margin: 0px -11px;                
        }
        .new_product_carousel.owl-carousel .owl-item{
            padding:0 15px;
        }
            .new_product_carousel_item{

            }
                .new_product_carousel_item1{
                }
                    .new_product_car_box{
                        margin: 15px 0px 30px 0;
                        width: 270px;
                    }   

                        .new_product_car_box_img{
                            background: #dfdfdf;
                        }

                        .new_product_car_box_img.cards_frescoes_similar_options{
                            line-height: 270px;
                        }

                            .new_product_car_box_img img{
                                display: inline-block !important;
                                vertical-align: middle !important;
                            }


                        .new_product_car_box_price{
                            height: 77px;
                            background-color: #F7F7F7;
                            padding: 17px 19px 20px 19px;
                        }

                            .new_product_name{
                                font-size: 16px;
                                line-height: 20px;
                                display: block;
                                padding-bottom: 4px;
                            }
                            .new_product_cost{
                                font-size: 18px;
                                line-height: 22px;
                                color: #E84C3D;
                                display: block;
                            }
hr.hr, hr.hr2, hr.hr3, hr.hr4{
    border: none;
    border-bottom: 2px solid #70a733;
    width: 100%;
    margin-top: 0;
    margin-bottom: 43px;
}     

hr.hr2{
    margin: 24px 0 30px!important;
}                       

hr.hr3{
    margin: 20px 0 0 0 !important;
}
hr.hr4{
    margin: 0 0 36px 0;
}

.more_info_box{
    padding-bottom: 28px;
}
    .more_info_box_title{
        padding-bottom: 5px;
    }
    .more_info_box_text{
        font-size: 14px;
        line-height: 18px;
    }
        .more_info_box_text p{
            margin-bottom: 18px;
        }
        .more_info_box_list{
            padding-left: 22px;
        }
            .more_info_box_list_item{
                
            }
/*===========================card_wallpaper start===========================*/
.card_wallpaper{
    
}
    .card_wallpaper_title{
        text-align: left !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .wallpaper_img_box{
        margin-bottom: 17px;
        margin-right: 70px;
        
    }
        .wallpaper_img{
            width: 100%;
            height: auto;
        }
    .wallpaper_catalog{
        padding-right: 70px;
        margin-bottom: 32px;
    }   
        .wallpaper_catalog_item.left{
            float: left;
        }
        .wallpaper_catalog_item.right{
            float: right;
        } 
            .wallpaper_catalog_title{
                font-size: 14px;
                line-height: 18px;   
                padding-bottom: 16px;
            }
            .wallpaper_catalog_link_box{
                padding-bottom: 18px;
                width: 173px;
            }
            .card_wallpaper2 .wallpaper_catalog_link_box{
                width: 191px;
            }
                .wallpaper_catalog_link{
                    border: 1px solid #e6e6e6;
                }
                    .wallpaper_catalog_link_img{
                        width: 100%;
                        height: auto;
                    }
            .wallpaper_catalog_link2{
                
            }
                .wallpaper_catalog_link2_item{
                    font-size: 14px;
                    line-height: 18px;
                    color: #596570;
                }
    .cost_wallpaper{
        width: 470px;
        border-top: 2px solid #eeeeee;
        padding-top: 13px;
    }
        .counter_box{
            float: left;
            margin-right: 14px;
            width: 240px;
            padding-top: 2px;
        }

            .price_rub{
                float: left;
                font-size: 20px;
                line-height: 22px;
                color: #E84C3D;
                padding-top: 8px;
            }
            .price_rub i{
                color: #424242;
                font-style: normal;
            }

            .counter_input{
                float: right;
                margin-right: 3px;
                width: 40px;
                height: 40px;
                padding: 5px;
                text-align: center;
                font-size: 15px;
                line-height: 18px;
                border: 1px solid #E6E6E6;
            }

            .counter_box_arrow{
                float: right;
                margin: -4px -2px; 
            }    
                .counter_box_button{
                    width: 17px;
                    height: 18px;
                    border: 1px solid #E6E6E6;
                    margin: 4px 2px;
                    padding: 0;
                    display: block;
                    background: none;
                    position: relative;
                    cursor: pointer;
                    outline-style: none;
                }
                .counter_box_button.up:before{
                    content: "";
                    background: url(../images/icon/images/icon_counter_arrow.png) 0 0 no-repeat;
                    width: 9px;
                    height: 7px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -4.5px;
                    margin-top: -3.5px;
                }
                .counter_box_button.down:before{
                    content: "";
                    -webkit-transform: rotate(180deg);
                       -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                         -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                    background: url(../images/icon/images/icon_counter_arrow.png) 0 0 no-repeat;
                    width: 9px;
                    height: 7px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -4.5px;
                    margin-top: -3.5px;
                }
                .counter_box_button:hover{background-color: #E6E6E6;}

        .cost_wallpaper_button{
            
        }
            .cost_wallpaper_button_item{
                text-transform: uppercase;
                color: #FFF;
                font-size: 14px;
                line-height: 16px;
                padding: 16px 16px 12px 45px;
                background: #68b035 url(../images/icon/images/icon_basket.png) 14px 50% no-repeat;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .cost_wallpaper_button_item:hover{
                background-color: #599f27;
            }

    .wallpaper_short_info_box{
        padding-top: 44px;
        padding-bottom: 36px;
    }   
        .wallpaper_short_info_list{
            display: block;
        }     
            .wallpaper_short_info_list_item{
                font-size: 14px;
                line-height: 16px;
                padding-bottom: 10px;
            }
            .info1_walpaper{
                width: 180px;
            }
            .info2_walpaper{
                padding-left: 8px;
            }   

.delivery_box{

}   
    .delivery_box_item{
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 48px;
    }   
        .delivery_list{
            margin-top: -2px;
        }   
            .delivery_list_item{
                display: block;
                position: relative;
                padding-left: 23px;
                padding-bottom: 18px;
            }   
            .delivery_list_item:before{
                position: absolute;
                content: "";
                background: url(../images/icon/images/icon_list_dot.png) 0 0 no-repeat;
                top: 7px;
                left: 15px;
                height: 3px;
                width: 4px;
            }
                .delivery_list_item a{
                    color: #424242;
                }
        .delivery_link{
            padding-top: 18px;
        }   
            .delivery_link_item{
                color: #596570;
            } 


.garanty_box p{
    margin-bottom: 10px;
}   
.garanty_box .delivery_link{
    padding-top: 26px;
}

.review_box{
    
}
    .review_box_item{
        font-size: 14px;
        line-height: 18px;
    }
        .review_box_list{
            padding-top: 7px;
            padding-bottom: 50px;
        }
        
            .review_box_list_item{
                border-bottom: 1px solid #eeeeee;
            }
                .review_title{
                    padding-top: 19px;
                    padding-bottom: 2px;
                }
                .review_box_list .review_box_list_item:first-child .review_title{
                    padding-top: 0;
                }
                .date_box{
                    color: #a4a4a4;
                    display: block;
                    padding-bottom: 20px;
                }
                .review_box_list_item p{
                    margin-bottom: 16px;
                }

/*=============================box_arctickmodal start=============================*/
.box_arctickmodal{
    width: 860px;
    height: 513px;
    background-color: #FFF;
    position: relative;
    padding-top: 16px;
}
    .arcticmodal-close{
        cursor: pointer;
        background: url(../images/icon/images/icon_arcticmodal_close.png) 0 0 no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 15px;
        top: 15px;
        text-indent: -9999px;
    }
    .arctick_title{
        font-size: 24px;
        line-height: 26px;
        color: #424242;
        text-align: center;
        padding-top: 5px;
    }

    .modal_product_box{
        margin:20px auto 25px;
        width: 477px;
    }
        .modal_product_text{
            font-size: 14px;
            line-height: 18px;
            float: left;
            padding-top: 13px;
        }
        .modal_box_button{
            float: right;
        }
            .modal_box_button_item{
                text-transform: uppercase;
                font-size: 14px;
                line-height: 20px;
                color: #FFF;
                background-color: #68B035;
                padding: 12px 54px 12px;
                outline-style: none;
                cursor: pointer;
                border: none;
            }
            .modal_box_button_item:hover{background-color: #599f27;}
    
    .modal_card_wallpaper{
        padding: 46px 35px 50px 35px;
        border-top: 2px solid #eeeeee;
    }
        .modal_card_wallpaper_left{
            float: left;
        }

            .img_and_info{
                margin-bottom: 35px;    
            }
                .img_and_info_item{
                    width: 200px;
                }
                    .img_and_info_item img{
                        width: 100%;
                        height: auto;
                    }

                .lis_mod{
                    padding-left: 29px;
                }
                    .title_h5{
                        margin-top: -3px;
                        padding-bottom: 8px;
                    }
                    .lis_mod .wallpaper_short_info_list{
                        
                    }
                    .lis_mod .wallpaper_short_info_list.first{
                        padding-bottom: 26px;
                    }
                        .lis_mod .wallpaper_short_info_list_item{
                            
                        }
                            .lis_mod .wallpaper_short_info_list_item div:first-child{
                            
                            }
                            .lis_mod .wallpaper_short_info_list_item div:last-child{
                                padding-left: 3px;
                            }

        .modal_card_wallpaper_right{
            float: right;
            width: 216px;
        }
            .modal_card_wallpaper_right p{
                margin-top: -3px;
                margin-bottom: 47px;
            }
            .modal_card_wallpaper_right .wallpaper_short_info_list{
                margin-right: 0;
            }
            .modal_card_wallpaper_right .wallpaper_short_info_list_item.first div{
                padding-bottom: 34px;
            }
            .modal_card_wallpaper_right .wallpaper_short_info_list_item.second div{
                padding-bottom: 20px;
            }
            .form_modal_btn .modal_box_button_item{
                padding: 12px 44px;
            }
            .form_modal_btn{
                padding-top: 1px;
            }
/*=============================box_arctickmodal end=============================*/


/*===========================card_wallpaper end===========================*/

/*===========================card_wallpaper2 start===========================*/
.card_wallpaper2 .wallpaper_img_box{
    margin-right: 60px;
}
.card_wallpaper2 .wallpaper_catalog{
    padding-right: 60px;
}
.card_wallpaper2_it{
    
}
/*===========================card_wallpaper2 end===========================*/

/*===========================error start===========================*/
.error_content_box{
}
    .error_content_box_item{
        padding: 40px 0;
    }
        .error_search_box{
            width: 616px;
            margin: 0 0 30px 0px;
            position: relative;
        }
            .error_search_box label {
                font-size: 24px;
                line-height: 30px;
            }
            .error_search_box .header_top_input {
                float: right;
                font-size: 14px;
            }
            .err_inp{
                width: 79.5%;
            }

        .list_error{
            width: 616px;
            padding-top: 8px;
        }
            .list_error_item{
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 16px;
                color: #424242;
            } 
/*===========================error end===========================*/
/*===========================checkout start===========================*/
.checkout_content_box{
    padding-bottom: 50px;    
}
    .checkout_content_box_item_left{
        padding-right: 20px;  
        padding-top: 33px;  
    }
        .checkout__left_title{
            
        }
        .checkout_box_left_form{
            width: 431px;
            font-size: 14px;
            padding-top: 30px;
            padding-bottom: 19px;
        }    
            .checkout_form_item{
                padding-bottom: 16px;
            }
                .checkout_form_label{
                    float: left;
                    padding-top: 7px;
                }
                .checkout_form_input{
                    float: right;
                    border: 1px solid #c7c7c7;
                    width: 261px;
                    height: 30px;
                    padding: 5px 10px 5px 10px;
                }
                .checkout_form_textarea{
                    float: right;
                    width: 261px;
                    height: 73px;
                    resize: none;
                    border: 1px solid #c7c7c7;
                }
                .checkout_radio_box{
                    width: 261px;
                    padding-top: 7px;
                }
                    .checkout_radio_box_item{
                        padding-bottom: 5px;
                    }
                        input[type='radio']{
                            display: none;
                        }
                        input[type='radio'] + label{
                            background: url(../images/icon/images/icon_radio_button.png) 0 2px no-repeat;
                            font-size: 14px;
                            line-height: 17px;
                            cursor: pointer;
                            padding: 1px 0 1px 23px;
                            vertical-align: middle;
                        }
                        input[type='radio']:checked + label{
                            background-position: 0 -23px;
                        }
        .product_table{
            table-layout: fixed;
        }
            .product_table_tr{
                
            }
            .product_table_tr.bdb_tr{
                
            }
                .product_table_th{
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 26px;
                    padding-bottom: 24px;
                }
                .w90{width: 110px;}
                .w102{width: 102px;}
                .w235{width: 235px;}
                .w452{width: 433px;}
                .product_table_td{
                    padding-bottom: 20px;
                }
                    .product_table_span{
                        padding-top: 22px;
                    }
        
        .after_table_box{
            border-top: 2px solid #eeeeee;
            padding-right: 82px;
            padding-top: 31px;
            padding-bottom: 44px;
        }   
            .result_box{

            }   
                .result_box_span{
                    font-size: 14px;
                    padding-left: 21px;
                }  
                
        .after_table_btn_box{
            
        }
            .after_table_button{
                text-transform: uppercase;
                color: #FFF;
                font-size: 14px;
                line-height: 16px;
                padding: 14px 42.5px;
                background-color: #68b035;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .after_table_button:hover {
                background-color: #599f27;
            }



    .checkout_content_box_item_right{
        margin-left: -15px;
        padding-top: 164px;
    }
        .delivery_icon_box{
            width: 160px;
            text-align: center;
            padding-bottom: 31px;
        }
            .delivery_icon_box_img{
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                text-align: center;
                width: 76px;
                height: 76px;
                margin: auto;
            }
                .delivery_icon_box_img_it{
                    display: inline-block;
                    text-align: center;
                    overflow: hidden;
                    height: 76px;
                    width: 76px;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                }
            .delivery_icon_box_text{
                padding-top: 12px;
                font-size: 14px;
                line-height: 16px;
                color: #A6A5A5;
            }
/*===========================checkout end===========================*/
/*===========================podbor_oboev2 start===========================*/
.selection_wallpaper_box{
    
}
    .selection_wallpaper_box_item{
        border: 1px solid #E7E7E7;
        padding: 30px 20px 30px 19px;
        margin: 40px 0 35px 0;
    }
        .selection_color_box{
            margin-bottom: 31px;
            padding-top: 5px;
        }
            .selection_filter_title{
                font-size: 17px;
                line-height: 20px;
                float: left;
            }
            .selection_filter_color_list{
                margin: -10px 0;
            }
                .selection_filter_color_list .selection_filter_color_list_item:first-child{
                    margin-left: 8px;
                }
                .selection_filter_color_list .selection_filter_color_list_item:last-child{
                    margin-right: 0;
                }
                .selection_filter_color_list_item{
                    float: left;
                    display: block;
                    height: 48px;
                    width: 48px;
                    margin: 10px;
                    cursor: pointer;
                    position: relative;
                }
                .selection_filter_color_list_item:hover i,
                .selection_filter_color_list_item.active i{
                    border: 1px solid #C7C7C7;
                    padding: 3px;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    position: absolute;
                }
                .selection_filter_color_list_item[data-color="color13"]:hover i,
                .selection_filter_color_list_item[data-color="color13"].active i{
                    top: -5px;
                    left: -5px;
                    bottom: -5px;
                    right: -5px;
                }
                [data-color="color1"]{background-color: #fe0000;}
                [data-color="color2"]{background-color: #800000;}
                [data-color="color3"]{background-color: #01ffff;}
                [data-color="color4"]{background-color: #008081;}
                [data-color="color5"]{background-color: #0000fe;}
                [data-color="color6"]{background-color: #171696;}
                [data-color="color7"]{background-color: #f4f302;}
                [data-color="color8"]{background-color: #7f8000;}
                [data-color="color9"]{background-color: #00ff01;}
                [data-color="color10"]{background-color: #008001;}
                [data-color="color11"]{background-color: #ff00ff;}
                [data-color="color12"]{background-color: #81007f;}
                [data-color="color13"]{background-color: #ffffff;border:1px solid #D9D9D9;}
                [data-color="color14"]{background-color: #c0c0c0;}
                [data-color="color15"]{background-color: #808080;}
                [data-color="color16"]{background-color: #000000;}
            
        .price_filter_box{
            width: 128px;
        }
            .price_filter_box .selection_filter_title{
                padding-bottom: 6px;
                border-bottom: 2px solid #eeeeee;
                float: none;
            }
            .range{
                width: 269px;
                margin: 2px 0 37px 0;
                position: relative;
            }
        .many_filter_box{
            margin: 0 -14px 40px -14px;
        }
            .many_filter_box_item{
                float: left;
                margin: 0 14px;
                overflow: hidden;
            }
            [data-width="many_filter_box_1"]{
                width: 170px;
            }
            [data-width="many_filter_box_2"]{
                width: 118px;
            }
            [data-width="many_filter_box_3"]{
                width: 203px;
            }
            [data-width="many_filter_box_4"]{
                width: 154px;
            }
            [data-width="many_filter_box_5"]{
                width: 182px;
            }
            [data-width="many_filter_box_6"]{
                width: 162px;
            }

                [data-width="many_filter_box_1"] .checkbox_main_box{
                    width: 170px;
                }
                [data-width="many_filter_box_2"] .checkbox_main_box{
                    width: 118px;
                }
                [data-width="many_filter_box_3"] .checkbox_main_box{
                    width: 180px;
                }
                [data-width="many_filter_box_4"] .checkbox_main_box{
                    width: 131px;
                }
                [data-width="many_filter_box_5"] .checkbox_main_box{
                    width: 159px;
                }   
                [data-width="many_filter_box_6"] .checkbox_main_box{
                    width: 139px;
                }


                .many_filter_box_item .price_filter_box{
                    width: auto;   
                    text-align: left;
                }
                .many_filter_scroll{
                    height: 286px;
                    border-left: 1px solid #efefef;
                    border-bottom: 1px solid #efefef;
                }
                    .many_filter_scroll .jspPane{
                     padding-left: 9px !important;   
                    }
                    .many_filter_scroll .jspVerticalBar{
                        right: 0 !important;
                        width: 11px;
                        bottom: 0 !important;
                        -webkit-border-radius: 0 !important;
                                border-radius: 0 !important;
                    }
                    .many_filter_scroll .jspDrag{
                        background-color: #dddddd;
                        -webkit-border-radius: 0 !important;
                                border-radius: 0 !important;
                    }
                    .many_filter_scroll .jspTrack{
                        -webkit-border-radius: 0 !important;
                                border-radius: 0 !important;
                        background-color: #F1F1F1 !important;
                    }
                .checkbox_main_box{
                    
                }
                    .checkbox_list_box{
                        
                    }
                        .checkbox_list_box_item{
                            
                        }
                            .checkbox_list_box_item input[type="checkbox"]{
                                display: none;
                            }
                            .checkbox_list_box .checkbox_list_box_item:first-child .filter_label{
                                margin-top: 6px;
                            }
                            .filter_label {
                                display: block;
                                position: relative;
                                padding: 7px 5px 7px 30px;
                                color: #424242;
                                cursor: pointer;
                                overflow: hidden;
                                font-size: 14px;
                                text-align: left;
                            }
                            .checkbox_list_box_item input[type="checkbox"] + .filter_label:before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 0;
                                margin-top: -8px;
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background: url(../images/icon/images/checkbox_icon.png) 0 bottom no-repeat;
                            }
                            .checkbox_list_box_item input[type="checkbox"]:checked+.filter_label:before{
                                background-position: 0 top;
                            }
        .many_filter_btn_box .after_table_button{
            padding: 14px 71.5px;
        }
 .mxh198{max-height: 198px !important;}       
/*===========================podbor_oboev2 end===========================*/
/*=============================>search page start<==============================*/        
.content_search_box{
    width: 616px;
    height: 30px;
    margin: 0 0 30px 0;
    position: relative;
}
    .content_search_box label{
        font-size: 24px;
        line-height: 30px;
    }

    .content_search_box .header_top_input{
        width: 79.5%;
        float: right;
    }
    .selection_wallpaper_box_item .content_search_box .header_top_input{
        width: 100%;
    }
    .selection_wallpaper_box_item .cont_search_box_item2{
        width: 79.5%;
    }
/*=============================>search page end<==============================*/        
/*==========================>sale page start<================================*/
.sale_content_box{
    padding-top: 36px;
}

    .sale_text h2{
        line-height: 29px;
    }

    .sale_text p{
        margin: 40px 0 20px;
        line-height: 18px;
        font-size: 14px;
    }

    .sale_content{
        margin: 0 -10.5px 20px;
    }   

        .sale_content_block{
            float: left;
            width: 210px;
            height: auto;
            margin: 0 10.5px 30px;
        }

            .sale_content_block_item{
                padding: 13px 15px 8px;
                background: #f6f6f6;    
            }

            .sale_product_name{
                line-height: 22px;
                display: block;
            }

            .sale_product_cost{
                line-height: 22px;
                color: #E84C3D;
                display: block;
            }
/*==========================>sale page end<================================*/
/*==========================>news page start<================================*/
.news_box{
    padding-top: 20px;
}
    .news_box .breadcrumbs{
        margin-top: 0;
        margin-bottom: 30px;
    }
.data_news{
    display: block;
    color: gray;
    font-size: 15px;
}
.lh_norm{
    line-height: normal;
}
.news_main_box{
    margin: -10px;
}
    .news_main_box_item{
        width: 455px;
        margin: 10px;
    }
        .news_main_box_item .wallpapers_main_page_block1_img{
            max-height: 215px;
            width: 100%;
        }
            .news_main_box_item .wallpapers_main_page_block1_img img{
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                height: auto;
            }
            .news_main_box_item .return_back_box_link2{
                margin: 0;
            }
            .return_back_box_link2.rotate_btn{
                margin-bottom: 20px;
            }
            .news_main_box_item .return_back_box_link2 .return_back,
            .rotate_btn .return_back{
                    padding: 12.5px 48px 12.5px 22px;
            } 
                .news_main_box_item .return_back_box_link2 .return_back:before ,
                .rotate_btn .return_back:before{
                    content: "";
                    -webkit-transform: rotate(180deg);
                       -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                         -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                    position: absolute;
                    background: url(../images/icon/images/come_back_arrow2.png) 0 0 no-repeat;
                    width: 10px;
                    height: 13px;
                    left: inherit;
                    right: 20px;
                    top: 50%;
                    margin-top: -6.5px;
                }   
.paggination_box_news{
    text-align: center;
    margin-bottom: 10px;
}
    .paggination_box_news_item{
        display: inline-block;
        margin: 0 0 10px 0;
    }
        .paggination_box_news_link{
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            background-color: #eeeeee;
            color: #000;
        }
        .paggination_box_news_link:hover,
        .paggination_box_news_link.active{
            background-color: #68B035 !important;
            color: #fff;
            font-weight: bold;
        }
            .paggination_box_news .paggination_box_news_item:first-child .paggination_box_news_link,
            .paggination_box_news .paggination_box_news_item:last-child .paggination_box_news_link{
                background:#eeeeee url(../images/icon/images/akkardeon_arrow.png) 50% 50% no-repeat;
            }
            .paggination_box_news .paggination_box_news_item:first-child .paggination_box_news_link{
                -webkit-transform: rotate(-180deg);
                   -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                     -o-transform: rotate(-180deg);
                        transform: rotate(-180deg);
            }
/*==========================>news page end<================================*/
/*==========================>news single page start<================================*/
.news_box2{
    padding-top: 20px;
}
    .news_box2 .breadcrumbs{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .news_box2 .wallpapers_main_page_block1{
        border-bottom: none;
    }
    
    .latest_news_list{
        margin-bottom: 20px;
    }
        .latest_news_list_item{
            position: relative;
            padding: 4px 0 4px 20px;
        }
            .latest_news_list_item:before{
                position: absolute;
                content: "";
                background: url(../images/icon/images/icon_list_dot.png) 0 0 no-repeat;
                top: 11px;
                left: 8px;
                height: 3px;
                width: 4px;
            }
            .latest_news_list_item a{
                font-size: 16px;
                line-height: 20px;
                color: #424242;
                text-decoration: underline;
            }
            .latest_news_list_item a:hover{
                text-decoration: none;
                color: #68B035;
            }
/*==========================>news single page end<================================*/

/*=====================> Paragraphs ========================*/

 p { margin-bottom:20px}
/*=====================> margin ========================*/
.m15{margin: 15px;}
/*top*/
.mt1{margin-top: 1px;}
.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt4{margin-top: 4px;}
.mt5{margin-top: 5px;}
.mt6{margin-top: 6px;}
.mt7{margin-top: 7px;}
.mt8{margin-top: 8px;}
.mt9{margin-top: 9px;}
.mt10{margin-top: 10px;}
.mt30{margin-top: 30px;}
.mt50{margin-top: 50px;}
/*bottom*/
.mb0{margin-bottom: 0;}
.mb1{margin-bottom: 1px;}
.mb2{margin-bottom: 2px;}
.mb3{margin-bottom: 3px;}
.mb4{margin-bottom: 4px;}
.mb5{margin-bottom: 5px;}
.mb6{margin-bottom: 6px;}
.mb7{margin-bottom: 7px;}
.mb8{margin-bottom: 8px;}
.mb9{margin-bottom: 9px;}
.mb10{margin-bottom: 10px;}

.mb12{margin-bottom: 12px;}
.mb15{margin-bottom: 15px;}
.mb16{margin-bottom: 16px;}
.mb18{margin-bottom: 18px;}

.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb27{margin-bottom: 27px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb44{margin-bottom: 44px;}
.mb50{margin-bottom: 50px;}
/*right*/
.mr0{margin-right: 0px;}


/*=====================> padding ========================*/
/*top*/
.pt1{padding-top: 1px;}
.pt2{padding-top: 2px;}
.pt3{padding-top: 3px;}
.pt4{padding-top: 4px;}
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt9{padding-top: 9px;}
.pt10{padding-top: 10px;}
.pt13{padding-top: 13px;}
.pt31{padding-top: 31px;} 
/*bottom*/
.pb1{padding-bottom: 1px;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb6{padding-bottom: 6px;}
.pb7{padding-bottom: 7px;}
.pb8{padding-bottom: 8px;}
.pb9{padding-bottom: 9px;}
.pb10{padding-bottom: 10px;}
.pb22{padding-bottom: 22px;}
.pb33{padding-bottom: 33px;}
.pb48{padding-bottom: 48px;}
/*left*/
.pl5{padding-left: 5px;}
.pl34{padding-left: 34px;}
.pl20{padding-left: 20px;}
/*right*/
.pr3{padding-right: 3px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr24{padding-right: 24px;}
/*=====================> Titles ========================*/
h2,h3,h4{
    font-weight:normal;
}
.title{
    font-size: 28px;
    line-height: 34px;
    color:#424242;
    text-align: center;
}
.title1{
    font-size: 25px;
    line-height: 30px;
    color:#424242;
    text-align: center;
}
.title2{
    font-size: 24px;
    line-height: 29px;
    color:#424242;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 5px;
}



.td_und{text-decoration: underline;}
.td_und:hover{text-decoration: none;}

.td_und_no{text-decoration: none;}
.td_und_no:hover{text-decoration: underline;}

.td_und_no_imp{text-decoration: none !important;}

.text_upp{text-transform: uppercase;}

/*================================>> GOOGLE FONTS  <<========================================*/
.roboto_thin{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.roboto_light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.roboto_normal{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto_medium{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.roboto_bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.roboto_ultra_bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/*font-weight*/
.fw_100{font-weight: 100;}
.fw_200{font-weight: 200;}
.fw_300{font-weight: 300;}
.fw_400{font-weight: 400;}
.fw_500{font-weight: 500;}
.fw_600{font-weight: 600;}
.fw_700{font-weight: 700;}
.fw_800{font-weight: 800;}

/*font-size*/
.fz10{font-size: 10px;}
.fz11{font-size: 11px;}
.fz12{font-size: 12px;}
.fz13{font-size: 13px;}
.fz14{font-size: 14px;}
.fz15{font-size: 15px;}
.fz16{font-size: 16px;}
.fz17{font-size: 17px;}
.fz18{font-size: 18px;}
.fz19{font-size: 19px;}
.fz20{font-size: 20px;}
.fz24{font-size: 24px;}
.fz28{font-size: 28px;}

.lh20{line-height: 20px;}
/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
a.trs_no{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
a.trs_no:hover{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
/*==============>breadcrumbs================*/
.breadcrumbs_section{
    padding-bottom: 33px;
}
    .breadcrumbs{
        display: block;
        list-style: none;
        margin-top: 24px;
        padding-bottom: 9px;
        border-bottom:2px solid #EEE;
    }
        .breadcrumbs_it{
            position: relative;
            float: left;
            margin-right: 7px;
            padding-right: 10px;
        }
        .breadcrumbs_it:before{
            display: block;
            position: absolute;
            right: 0;
            top: 8px;
            content: "";
            background: url(../images/icon/images/icon_breadcrumbs.png) 0 0 no-repeat;
            width: 6px;
            height: 6px;
        }
        .breadcrumbs .breadcrumbs_it:last-child:before{
            display: none;
        }
            .breadcrumbs_it a{
                text-decoration: none;
                color: #626161;
            }
            .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
            .breadcrumbs_it a:hover{
                text-decoration: underline;
            }
                .breadcrumbs_current{
                    font-size: 13px;
                    line-height: 21px;
                    color: #626161;
                    letter-spacing: -0.2px;
                }
/*==============>breadcrumbs end================*/
    /*===> flexslider start<===*/
    .wrapper_slider{
        padding-left: 30px;
        position: relative;
    }
    .card_wallpaper .wrapper_slider{
        padding-left: 50px;
        position: relative;
    }

        .flexslider{
            margin: 0 !important;
        }

        .flexslider .slides img{
            margin: 0 auto!important;
            width: 100%;
        } 
        .card_wallpaper .catalog_slides_carousel ul li{
            width: 146px !important;
        }
        .catalog_slides_carousel ul li{
            margin: 10px 0 0 11px;
            width: 127px !important;
        }

        .catalog_slides_carousel ul li:first-child{
            margin-left: 0;
        }
        .flex-control-nav,
        .card_wallpaperslider2 .flex-direction-nav{
            display: none;
        }
        .card_wallpaperslider.flexslider .flex-direction-nav{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0 , 0 , 0 , 0.5);
            height: 0px;
            opacity: 0;
            visibility: hidden;
        }
        .card_wallpaperslider.flexslider:hover .flex-direction-nav{
            -webkit-transition: height ease-in 0.3s;
               -moz-transition: height ease-in 0.3s;
                -ms-transition: height ease-in 0.3s;
                 -o-transition: height ease-in 0.3s;
                    transition: height ease-in 0.3s;
        }
        .card_wallpaperslider.flexslider:hover .flex-direction-nav .flex-prev,
        .card_wallpaperslider.flexslider:hover .flex-direction-nav .flex-next{
            background: url(../images/icon/images/icon_flexslider_arrow.png) 0 0 no-repeat;
        }
        .card_wallpaperslider.flexslider .flex-direction-nav .flex-prev{
            -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        .card_wallpaperslider.flexslider:hover .flex-direction-nav .flex-prev{
            left: 20px;
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                 -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        .card_wallpaperslider.flexslider:hover .flex-direction-nav .flex-next{
            right: 20px;
            -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
    .button_on_the_flexslider{
        
    }
        .card_wallpaper .button_on_the_flexslider_item{
            bottom: 160px;
            left: 54px;
        }
        .button_on_the_flexslider_item{
            text-transform: uppercase;
            color: #626161;
            font-size: 14px;
            line-height: 18px;
            padding: 13px 15px;
            position: absolute;
            bottom: 151px;
            left: 34px;
            width: 200px;
            height: 44px;
            background-color: #EEE;
            border: none;
            outline-style: none;
            cursor: pointer;
        }
    .button_on_the_flexslider .button_on_the_flexslider_item:last-child{
        right: 4px;
        left: inherit;
    }
    /*===> flexslider end<===*/

/*================================>> Footer <<========================================*/
footer.footer_box{
  background-color: #596570;
  padding: 25px 15px 28px;
}
    .footer_title{
        width: 146px;
        border-bottom: 1px solid #737d85;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        padding-bottom: 4px;
        margin-bottom: 10px;
    }
        .footer_list{
            
        }

            .footer_list_item{
                
            }
                .footer__link{
                    font-size: 14px;
                    line-height: 24px;
                    text-decoration: underline;
                    color: #FFF;
                    letter-spacing: 0.4px;
                }

        .footer_contact_box{
            
        }

            .footer_contact_box span{
                display: block;
                color: #FFF;
                font-size: 14px;
                line-height: 24px;
            }
            .footer_contact_box span.tel{
                padding-left: 11px;
            }
            .footer_contact_box span.tel.first{
                padding-left: 18px;
            }

        .footer_social_box{
            padding-left: 100px;
        }    
            .footer_soc_list{
                margin: 17px -5px 0;
            }
                .footer_soc_list_item{
                    float: left;
                    margin: 0 5px;
                }
                    .footer_soc_link{
                        width: 24px;
                        height: 24px;
                        display: block;
                        cursor: pointer;
                    }
                    [data-soc-icon="fc"]{
                        background: url(../images/icon/images/icon_soc1.png) 0 0 no-repeat;
                    }
                    [data-soc-icon="tw"]{
                        background: url(../images/icon/images/icon_soc2.png) 0 0 no-repeat;
                    }
                    [data-soc-icon="google"]{
                        background: url(../images/icon/images/icon_soc3.png) 0 0 no-repeat;
                    }
                    [data-soc-icon="in"]{
                        background: url(../images/icon/images/icon_soc4.png) 0 0 no-repeat;
                    }
                    [data-soc-icon="pe"]{
                        background: url(../images/icon/images/icon_soc5.png) 0 0 no-repeat;
                    }
.footer_coperite_box{
    background-color: #FFF;
}
    .footer_coperite_box_item{
        line-height: 20px;
        padding: 12.5px 15px;
        font-size: 12px;
        color: #424242;
    }
