/*============DELIVERY_CONTACTS============*/
.contact{
	padding: 40px 0 30px 0;
}

.menu_item{
	display: inline-block;
	border: 1px solid #e9e9e9;
	width: 220px;
}

.menu_item_title{
	background: #e9493a url(../images/icon/images/list_bg.png) 0 0 no-repeat;
	color: #fff;
	height: 50px;
	font-size: 17px;
	padding: 16px 0px 14px 18px;
}

.menu_item_link{
	border-bottom: 1px solid #e9e9e9;
	color: #000;
	font-size: 16px;
	height: 43px;
}
.menu_item .menu_item_link:last-child{
	border-bottom: none;
}
	.menu_item_link_a{
		text-decoration: none;
		color: #000;
		display: block;
		padding: 11px 5px 11px 18px;
	}

	.menu_item_link:hover,
	.menu_item_link.active{
		background-color: #f8f8f8;
	}

.delivery_contacts{
	float: left;
	display: inline-block;
	margin: 0px 0px;
	width: 900px;
}

.delivery_title{
	font-size: 28px;
	margin-bottom: 20px;
	line-height: 28px;
}	

.delivery_list_l{
	width: 220px;
	display: inline-block;
	float: left;
	margin-right: 40px;
}

.delivery_list_l .pagination_box_and_title{
	margin-bottom: 0px;
}

.contacts{
	width: 285px;
	margin: 0px 0px;
	float: left;
	 	
}
.shop{
	margin-bottom: 20px;
}

.shop_address{
	margin-bottom: 15px;
}

.clear{
	clear: both;
}

.way{
	margin-bottom: 10px;
}
.map{
	float: right;
	border-top: 1px solid #e9e9e9;
	height: 350px;
	width: 600px;
	margin-bottom: 30px;
}
.form{
	width: 435px;
	font-size: 14px;
    padding-top: 5px;
    padding-bottom: 19px;
}
.delivery_form_box{
	margin-top: 20px;
}
.point{.
	height: 30px;
}

.mb16{margin-bottom: 16px;}
.mb30{margin-bottom: 30px;}
.h73{height: 73px;}
.h39{height: 39px;}
.h44{height: 44px;}
.h30{height: 30px;}

	.point_label{
		float: left;
        padding-top: 7px;
        font-family: 'Roboto', sans-serif;
    	font-weight: 500;
	}
	.point_input{
		float: right;
        border: 1px solid #c7c7c7;
        width: 261px;
        padding: 5px 10px 5px 10px;
	}
	.point_3_textarea{
		float: right;
        width: 261px;
        height: 73px;
        resize: none;
        border: 1px solid #c7c7c7;
        padding: 5px 10px 5px 10px;
	}
	.point_4_label{
		float: left;
        padding-top: 2px;
        font-family: 'Roboto', sans-serif;
	}
	.point_4_img{
		float: right;
		border: 1px solid #c7c7c7;
	}

	.point_5_label{
		float: left;
        padding-top: 2px;
        font-family: 'Roboto', sans-serif;
	}
	.point_5_input{
		float: right;
        width: 215px;
        resize: none;
        border: 1px solid #c7c7c7;
        padding: 5px 10px 5px 10px;
	}
	.delivery_button{
		float: right;
		background-color: #68b035;
		color: #fff;
		padding: 14.5px 67px;
		border: none;
		outline: none;
		cursor: pointer;
	}
	.delivery_button:hover{
		background: #599f27;
	}
/*================================ WALLPAPERS ================================*/

.wallpapers_main_page{
	margin-left: 40px;
	color: #424242;
}
.green_line_bd{border-top: 2px solid #70a733;}
.wallpapers_main_page_block2{
	margin: 0px -15px 45px !important;
	padding-top: 20px;
}
.wallpapers_figure{
	width: 162px;
	margin: 15px;
	float: left;
}
.wallpapers_catalog_a{
	display: inline-block;
}
.lh{
	line-height: 18px; 
}
.wallpapers_figcaption{
	background-color: #f6f6f6;
	display: block;
	padding: 6px 0 6px 10px
}
.wallpapers_figcaption_p{
	display: inline-block;
}
.wallpapers_figcaption_cost{
	color: #E84C3D;
}
.more_info_box{
	padding: 0px 15px 15px 0;
}
.wallpapers_main_page_block1_img,
.wallpapers_main_page_block1_img img{
	width: 100%;
	height: auto;
}

