.sale_content_block img{
	width: 100%; 
	height: auto; 
	display: inline-block;
}
/*=============================>catalog page<==============================*/	
.carousel_catalog_item{
	display: block;
	float: left;
	line-height: 127px;
}

	.carousel_catalog_item a{
		display: inline-block;
		background: #dfdfdf;
	}

/*=============================>catalog_2 page<==============================*/

	.figure_block{
		margin: -10px -10px 0 -10px;
		padding-bottom: 15px;
	}
		.catalog_2_figure{
			float: left;
			margin: 10px;
			width: 127px;
			height: auto;
		}	
			.catalog_2_figure_link{
				display: inline-block;
			}

			.catalog_2_figure img{
				display: inline-block;
				width: 100%;
				height: auto;
			}

			.catalog_2_figure_item{
				padding: 12px 9px 9px;
				background: #f6f6f6;
			}
				.catalog_2_figure_item .sale_product_name {
					font-size: 11px;
					line-height: 14px;
				}
				.catalog_2_figure_item .sale_product_cost {
					font-size: 12px;
					line-height: 14px;
				}


/*=============================>brand page<==============================*/	
.brands_carousel_2.owl-carousel .owl-item{
	padding:0 15px;
}
.brands_box_item_2{
	overflow: hidden;
	max-height: 930px;
}
.brands_carousel_2_item{
	width: 210px;
	display: block;
	margin: 0 0px 30px 0;
} 

.brands_carousel_2_item_name{
	text-align: center;
	padding: 15px 0;
	background: #f6f6f6; 
	line-height: 14px;
}		

.brands_carousel_2_item .new_product_car_box_img{
	line-height: 0;
	width: 100%;
	height: auto;
}	  

/*=============================>podbor_oboiev page<==============================*/
.podbor_oboiev_box{
	padding: 40px 0 0 0;
}

.accordion_box{
	width: 210px;
	margin-right: -40px;
	position: relative;
	z-index: 99;
}

.podbor_ob_left_wrapper{
	width: 79.5%;
	float: right;
	margin: -4px 0 0;
}
.podbor_ob_left_wrapper.podvor_oboiev_filter_page_box{
	width: 100%;
	float: none;
	margin: 0;
}

.podbor_ob_left_figure{
	margin: 0 -15px 0;
}

.podbor_ob_title{
	line-height: 29px;
	margin: 0 0 35px;
}

	.accordion{
		margin-top: -20px;
		border-bottom: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
	}

	.accordion_item{
		position: relative;
	}

	.accordion_item_link {
		display: inline-block;
		position: relative;
		cursor: pointer;
		margin: 0;
		padding: 14px 10px 8px 18px;
		width: 100%;
		border-top: 1px solid #e7e7e7;
		color: #424242;
		line-height: 16px;
		font-size: 16px;
		text-decoration: none;
	}

		.accordion_item_link:after{
			content: "";
			position: absolute;
			width: 8px;
			height: 10px;
			background: url(../images/icon/images/akkardeon_arrow.png) 0 0 no-repeat;
			top: 17px;
			right: 19px;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}
		

	.accordion_item:hover > .accordion_item_link,
	.accordion_item:target > .accordion_item_link,
	.accordion_item > .accordion_item_link.active {
		color: #3e5706;
		background: #eeeeee;
	}

	.accordion_item .accordion_item_link.active.accordion_item_link:after{
		transform: rotate(90deg); 
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}

	/* Подменю */
	.sub-menu{
		padding-bottom: 4px;
	}

	.sub-menu li a {
		color: #424242;
		display: block;
		border:none;
		font-size: 13px;
		padding: 8px 0 6px 25px;
	}

	.sub-menu li:hover a { background: #eeeeee; }



	/* функциональность */

	.accordion .accordion_item > .sub-menu {
		display: none;
	}

	.accordion .accordion_item:target > .sub-menu {
		display: block;
	}

/*=============================>podbor_oboiev_filter_page page<==============================*/
	.podbor_ob_left_text h2{
		line-height: 28px;
		margin: 0 0 45px 0;
	}
/*=============================>frescoes page<==============================*/
.frescoes_content_block_text{
	text-align: center;
	padding: 18px 0 17px;
	background: #f6f6f6;
}

	.frescoes_name{
		line-height: 14px;
	}

	.similar_frescoes_img{
		display: table; 
	}

	.sale_content_block.frascoes_razdel_box .catalog2_figure_link, 
	.similar_frescoes_link{
		display: table-cell;
		background: #dfdfdf;
		width: 210px;
		height: 213px;
		vertical-align: middle;
		text-align: center
	}

	.catalog2_figure_link{
		display: inline-block;
	}
	.fres_razde_link{
		padding: 0 20px;
	}
/*=============================>cards_frescoes page<==============================*/
.cards_frescoes_img_box{
	margin: 4px 0 30px 0;
}

.cards_frescoes_box_text{
	margin-bottom: 47px;
}

.cards_frescoes_right_box{
	overflow: hidden;
	float: right;
	height: 638px;
	width: 470px;
	border: 1px solid #eeeeee;
}
	
	.cards_frescoes_right_box .jspContainer{
		width: 468px ;
	}	

	.cards_frescoes_right_box .jspContainer .jspPane{
		width: 450px  !important;
	}

	.cards_frescoes_right_box .jspVerticalBar, .jspTrack{
		right: 0 ;
		width: 18px;
		background: #f1f1f1 ;
		border-radius: 0 ;
	}
		.cards_frescoes_right_box .jspVerticalBar .jspTrack .jspDrag{
			border-radius: 0 ;
			background: #dcdcdc;
		}

		.cards_frescoes_right_box .jspVerticalBar .jspArrow{
	     	height: 19px ;
		    border-bottom: none;
		    background: url(../images/icon/images/scroll_arrow.png) 0 0  no-repeat;
		}	

		.cards_frescoes_right_box .jspVerticalBar .jspArrow.jspArrowDown{
			transform: rotate(180deg); 
			border: none;
			background-position: 100% 0;
		}

	.cards_frescoes_right_box_wrapper{
		padding: 18px 42px 0 38px;
	}

		.cards_frescoes_right_box_wrapper h3{
			text-transform: uppercase;
			font-size: 17px;
			padding-bottom: 4px; 
			color: #626161;
			border-bottom: 2px solid #eeeeee;
			margin-bottom: 5px;
		}

		.cards_frescoes_figure_wrapper{
			margin: 0 -15px;
		}
		.cards_frescoes_figure_wrapper .catalog_2_figure{
			width: 170px;
			margin: 15px;
		}
			.similar_frescoes_link{
				width: 170px !important;
				height: 173px !important;
			}

			.catalog_2_figure_item.cards_frescoes_figcaption{
				padding: 8px 12px 9px !important;
			}

			.catalog_2_figure_item.cards_frescoes_figcaption span{
				line-height: 18px !important;
			}


/*=============================>cards_frescoes_in_interior page<==============================*/		
.cards_frescoes_right_box_img img{
	width: 100%;
	height: auto;
}

.cards_frescoes_right_box_list{
	margin-top: 25px;
}

	.cards_frescoes_right_box_list_item{width: 189px;}



